@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
}
#memoryboard
{
background:#605777;
border:#999 1px solid;
width:700px;
height:540px;
padding:24px;

margin:0px auto;
margin-right:25px;
margin-top:15px;
    filter: drop-shadow(8px 8px 10px red);
}
#memory
{
	background:#605777;
	padding-left:60px;
	padding-top:20px;
	
	float:left;

    
	
}
#flip:hover
{
	transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
  
}
#cong{
	
font-size:25px;
color:red;
	
	
}

#html
{

	background-image:url(mojo.jpg);
	    
		 background-size: 1200px 660px;
	

}
#idnew{
	background:#605777;
	padding-left:60px;
	padding-top:20px;
	
	float:left;
	
}
#col1{
	background-color:#98F5FF;
	position:absolute;
	padding:300px;
	padding-left:20px;
	top:0px;
	padding-top:0px;
	width:350px;
	height:362px;

}
#buton{
	text-align:center;
	background-color:white;
	font-size:30px;
	font-family:'New Times Roman';
	width:300px;
	height:90px;
	color:purple;
	
}
#buton:hover{
	background-color:grey;
	font-size:50px;
	color:blue;
	font-family:'New Times Roman';
	
	
}
#memoryboard1{
	width:750px;
    height:540px;
    padding:27px;

margin:0px auto;
margin-right:80px;

}